/*CSS rules for website */

html {margin:0; width:100%; background-color: #504e4e;}
p {font-family:"Impact",serif; color:white; size:16px;}
button { background-color: white;
		  font-size: 20px;
		  font-family:"Impact",serif;
		  color: black;
		  border: 2px inset black;
}
.hostbutton{ position: fixed;
bottom: 350;
right: 350;
}
